.container{

padding:40px;

color:white;

}

.topo{

display:flex;

justify-content:space-between;

margin-bottom:25px;

}

.form{

display:flex;

flex-direction:column;

gap:15px;

margin-bottom:30px;

}

input,textarea{

padding:12px;

border-radius:8px;

border:none;

font-size:16px;

}

table{

width:100%;

border-collapse:collapse;

background:white;

color:black;

border-radius:10px;

overflow:hidden;

}

th{

background:#1e2d5c;

color:white;

padding:15px;

}

td{

padding:15px;

border-bottom:1px solid #ddd;

}

button{

padding:10px 16px;

margin-right:10px;

cursor:pointer;

}